.container {
  align-items: center;
  border-radius: var(--size-s);
  border: 2px solid var(--color-gray);
  cursor: pointer;
  display: flex;
  margin-bottom: var(--size-s);
  padding: var(--size-l);
  width: 100%;
}

.container:hover {
  background-color: var(--color-background);
}

.block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-l);
  width: 100%;
}

.keys {
  color: var(--color-gray-soft);
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.labelTitle {
  font-size: var(--size-m);
  font-weight: bold;
}

.description {
  color: var(--color-gray);
}

.values {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.reverted {
  position: relative;
  cursor: pointer;
  color: var(--color-error);
}

.reverted:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: var(--size-s);
  text-wrap: nowrap;
  
  /* Posición del tooltip */
  position: absolute;
  z-index: 1;
  
  right: 100%; /* Mueve el tooltip a la izquierda del texto */
  top: 50%; /* Alinea al centro verticalmente */
  transform: translateY(-50%); /* Ajuste vertical */
  
  margin-right: 10px; /* Espacio entre el tooltip y el texto */
  
  opacity: 0;
  transition: opacity 0.3s;
}

@media screen and (max-width: 920px) {
  .container {
    padding: var(--size-m);
  }
}
