.container {
  align-items: center;
  background-color: var(--color-surface);
  border-radius: var(--size-s);
  border: 2px solid var(--color-gray);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: var(--size-m) 0 0;
  padding: var(--size-l);
  width: 100%;
}

.title {
  margin-bottom: var(--size-xl);
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-l);
  width: 100%;
}

.max {
  margin-bottom: var(--size-s);
  width: 100%;
}

.blockInput {
  color: var(--color-gray-soft);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-l);
  width: 100%;
}

.keys {
  color: var(--color-gray-soft);
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.values {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
  position: relative;
  width: 100%;
}

.statusContainer {
  display: flex;
  align-items: flex-start;
  gap: var(--size-s);
  flex-direction: column;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  gap: var(--size-xs);
  margin-top: var(--size-xl);
}

.text {
  margin-bottom: var(--size-s);
  color: var(--color-gray-soft);
}

.pendingItemContainer {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
  padding: var(--size-s) var(--size-l) var(--size-l);
  width: 100%;
  background-color: var(--color-background);
  border-radius: var(--size-s);
}

.pending {
  height: var(--size-l);
  width: var(--size-l);
}

.isPendingTrx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-s);
  width: 100%;
}

.label {
  display: flex;
  color: var(--color-text-highlighted);
  background-color: var(--color-gray);
  padding: var(--size-xs);
  border-radius: var(--size-s);
  font-size: var(--size-s);
}

.labelTitle {
  font-size: var(--size-m);
  font-weight: bold;
}

.labelDescription {
  color: var(--color-gray-soft);
}

.nonceContainer {
  display: flex;
  gap: var(--size-s);
  position: relative;
  flex-direction: column;
}

.nonce {
  position: absolute;
  right: 0;
}
