.layoutContainer {
  color: var(--color-gray-strong);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 10em;
}

@media screen and (max-width: 768px) {
  .layoutContainer {
    padding: 0 2em;
    width: 100%;
  }
}
