.layoutContainer {
  color: var(--color-gray-strong);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 10em;
}

.withoutTopBar {
  padding-top: 8em;
}

@media screen and (max-width: 920px) {
  .layoutContainer {
    padding: 0 var(--size-m) var(--size-l);
    width: 100%;
  }

  .withoutTopBar {
    padding-top: 8em;
  }
}
