.panelContainer {
  align-items: center;
  background-color: var(--color-surface);
  border-radius: 12px;
  border: 2px solid var(--color-gray);
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: var(--size-xs) var(--size-m) var(--size-m);
}

.panelContainer svg {
  width: 50%;
}

.titleContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: var(--font-size-m);
}

.icon {
  width: 60px;
}

.isDisabled {
  opacity: 0.5;
}

.box .title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-primary-light);
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 1.2rem;
}

.box .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 10px;
  margin: 8px;
  font-size: 1.1rem;
  width: 80%;
}

@media screen and (max-width: 920px) {
  .panelContainer {
    margin-bottom: var(--size-m);
    justify-content: space-between;
    flex-direction: row;
    padding: var(--size-m);
  }

  .panelContainer svg {
    width: 80%;
    height: 100%;
  }

  .titleContainer {
    justify-content: flex-end;
    gap: var(--size-m);
    margin: 0 var(--size-m) 0 0;
  }

  .icon {
    width: 40px;
  }
}
