.accountContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.account {
  align-items: center;
  border: 1px solid var(--color-gray);
  border-radius: var(--size-s);
  background-color: var(--color-surface);
  display: flex;
  gap: var(--size-s);
  padding: var(--size-m);
  margin-right: var(--size-m);
}

.subgraphStatus {
  align-items: center;
  display: flex;
  margin: var(--size-m);
}

.label {
  align-items: center;
  display: flex;
  gap: var(--size-2xs);
  margin-right: var(--size-xs);
}

.sgHealthy {
  background-color: greenyellow;
  width: var(--size-m);
  border-radius: 50%;
  height: var(--size-m);
  display: flex;
}

.sgUnhealthy {
  background-color: red;
  width: var(--size-m);
  border-radius: 50%;
  height: var(--size-m);
  display: flex;
}

.pulse {
  animation: pulse 2s infinite;
}

.link {
  height: var(--size-s);
  width: var(--size-s);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .accountContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sgHealthy {
    width: var(--size-s);
    height: var(--size-s);
  }

  .sgUnhealthy {
    width: var(--size-s);
    height: var(--size-s);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
