.accountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.account {
  align-items: center;
  border: 1px solid var(--color-gray);
  border-radius: var(--size-s);
  display: flex;
  gap: var(--size-s);
  padding: var(--size-m);
}

.accountLabel {
  color: var(--color-gray-soft);
  margin: var(--size-m);
}

.userEmail {
  align-items: center;
  display: flex;
  gap: var(--size-s);
  margin: var(--size-l);
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
