.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  padding: 0 10em;
}

.title {
  font-size: 2em;
  margin: 1em 0 0.2em 0;
}

.description {
  font-size: 1.2em;
  margin: 0 0 2em 0;
  color: var(--color-gray-soft);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
  width: 100%;
}
