.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 10em;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.balanceContainer {
  border-radius: var(--size-s);
  border: 1px solid var(--color-gray);
  display: flex;
  justify-content: space-between;
  margin: 0 auto var(--size-3xl);
  padding: var(--size-m);
  max-width: 250px;
  gap: var(--size-l);
}

.title {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: var(--size-2xl);
}

.modesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.proposalsContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.error {
  color: var(--color-error);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: var(--size-m);
}

@media screen and (max-width: 920px) {
  .dashboardContainer {
    width: auto;
    padding: 0 var(--size-m);
  }

  .modesContainer {
    display: block;
    flex-direction: column;
  }

  .proposalsContainer {
    display: block;
    flex-direction: column;
  }

  .balanceContainer {
    border-radius: var(--size-s);
    border: 1px solid var(--color-gray);
    display: flex;
    justify-content: space-between;
    margin: var(--size-m) auto var(--size-xl);
    padding: var(--size-m);
    max-width: 250px;
    gap: var(--size-l);
  }

  .title {
    text-align: center;
  }
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
