.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0;
}

.leftPanel,
.rightPanel {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  padding: 10em;
  height: 100vh;
}

.rightPanel {
  background: linear-gradient(149.39deg, #e53e7d 0%, #fcb038 100%);
  padding: 10em 6em;
  position: relative;
}

.loginContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginContainer button svg {
  height: var(--size-xl);
  margin-top: -8px;
  margin-left: 0;
}

.balanceContainer {
  border-radius: var(--size-s);
  border: 1px solid var(--color-gray);
  display: flex;
  justify-content: space-between;
  margin: 0 auto var(--size-3xl);
  padding: var(--size-m);
  max-width: 250px;
  gap: var(--size-l);
}

.title,
.subTitle {
  text-align: center;
}

.title {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: var(--size-2xl);
}

.subTitle {
  font-size: 1.8rem;
  color: var(--color-text-highlighted-strong);
  letter-spacing: -0.5px;
}

.loginSubtitle {
  letter-spacing: -0.5px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  margin-top: var(--size-l);
}

.description {
  margin-top: 1em;
  color: var(--color-text-highlighted-strong);
  letter-spacing: -0.1px;
  text-align: center;
}

.modesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 80%;
}

.proposalsContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 16px;
  width: 80%;
}

.error {
  color: var(--color-error);
  font-size: 1rem;
  margin: -16px auto var(--size-m);
  letter-spacing: -0.2px;
  text-align: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 920px) {
  .dashboardContainer {
    width: auto;
    padding: 0 var(--size-m);
  }

  .modesContainer {
    display: flex;
    flex-direction: column;
  }

  .proposalsContainer {
    display: flex;
    flex-direction: column;
  }

  .balanceContainer {
    border-radius: var(--size-s);
    border: 1px solid var(--color-gray);
    display: flex;
    justify-content: space-between;
    margin: var(--size-m) auto var(--size-xl);
    padding: var(--size-m);
    max-width: 250px;
    gap: var(--size-l);
  }
}

@media screen and (max-width: 1024px) {
  .leftPanel {
    padding: 2em;
    height: auto;
    flex: 1 1 auto;
  }

  .rightPanel {
    display: none;
  }
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
