/* stylelint-disable function-calc-no-invalid */
:root {
  /* Colors */
  /* primary */
  --color-primary: #e53e7d;
  --color-primary-strong: #d31c61;
  --color-primary-soft: #eb6b9b;
  --color-accent: #fcb038;
  --color-accent-strong: #fb9b04;
  --color-accent-soft: #fdc368;
  --color-gray: #6b6b91;
  --color-gray-strong: #e5ecf2;
  --color-gray-soft: #949dac;
  --color-background: #01011c;
  --color-surface: #131339;
  --color-text: var(--color-gray);
  --color-text-highlighted: var(--color-gray-strong);
  --color-text-highlighted-strong: #22222a;
  --color-error: #ff5724;
  --color-error-strong: #dc2626;

  /* Gradients */
  --gradient-primary: linear-gradient(
    180deg,
    #5561ff 0%,
    #3643fc 100%,
    #3643fc 100%
  );

  /* Text */
  --text-content: #01011c;
  --text-content-soft: #717185;
}
