.pulse {
  animation: pulse 2s infinite;
}

.balance {
}

.balanceHighlight {
  animation: pulse 1s infinite;
  color: var(--color-accent);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
